/*https://aapihate.katiehphan.repl.co/index.html*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;800&family=Poppins:ital,wght@0,300;0,400;0,500;1,400&display=swap');

@font-face {
  font-family: 'Open-Sauce';
  src: url('../fonts/os.reg/opensauceone-regular-webfont.woff2') format('woff2');
  src: url('../fonts/os.reg/opensauceone-regular-webfont.woff') format('woff');
  src: url('../fonts/os.reg/OpenSauceOne-Regular.ttf') format('truetype');
}

* {
  font-family: -apple-system, 'Open-Sauce', 'Inter', 'Poppins', BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}